<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/join.css">
    <link href="/js/join.js">
</head>
<body>
<form>
<table>
    <tr>
        <td><h2>로그인</h2></td>
    </tr>
    <tr>
        <td><input type="text" placeholder="ID"></td>
    </tr>
    <tr>
        <td><input type="password" placeholder=Password></td>
    </tr>
    <tr>
        <td><input type="checkbox"> 로그인 정보 저장</td>
    </tr>
    <tr>
        <td><input type="submit" value="Sign in" class="loginBtn" onclick="alert('로그인 성공!')"></td>
    </tr>
    <tr>
        <td><button type="button" class="joinBtn" onclick="location.href='join/joinPage.html'">회원가입</button></td>
    </tr>
</table>
</form>
</body>
</html>